In [62]:
import pandas as pd
import numpy as np
import datetime

In [63]:
df = pd.read_csv( "../output/combined_transactions.csv", header=0)

In [64]:
df.head()

,Date,Narration,Chq./Ref.No.,Value Dt,Withdrawal Amt.,Deposit Amt.,Closing Balance,Bank
0,********,**********************************,************,********,NaN,NaN,NaN,HDFC_2025
1,2025-07-19,UPI-SARVAGYA SHANTIBHUSH-SARVAGYA1950@OKAXIS-S...,0000520029756040,2025-07-19,NaN,10000.0,10000.0,HDFC_2025
2,2025-08-06,ATW-223487XXXXXX9226-CHMAH030-MUMBAI,0000000000003783,2025-08-06,400.0,NaN,9600.0,HDFC_2025
3,2025-08-30,CHQ PAID-INWARD TRAN-HOUSING DEVELOPMENT,0000000000000002,2025-08-30,2960.0,NaN,6640.0,HDFC_2025
4,2025-09-17,UPI-SARVAGYA SHANTIBHUSH-SARVAGYA1950@OKHDFCBA...,0000095010310121,2025-09-17,1.0,NaN,6639.0,HDFC_2025

In [65]:
df.shape

(364, 8)

In [66]:
df.columns

Index(['Date', 'Narration', 'Chq./Ref.No.', 'Value Dt', 'Withdrawal Amt.',
       'Deposit Amt.', 'Closing Balance', 'Bank'],
      dtype='object')

In [67]:
print(df['Withdrawal Amt.'].isna().sum(),df['Withdrawal Amt.'].notna().sum())

117 247

In [68]:
print(df['Closing Balance'].isna().sum(),df['Closing Balance'].notna().sum())

30 334

In [69]:
df[df['Closing Balance'].isna()]

,Date,Narration,Chq./Ref.No.,Value Dt,Withdrawal Amt.,Deposit Amt.,Closing Balance,Bank
0,********,**********************************,************,********,NaN,NaN,NaN,HDFC_2025
36,2025-04-03,NEFT HSBCN09333045332 SEARCE INDIA NEFTINW-117...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
37,2025-04-03,UPI/SARVAGYA SHANTI/509310260382/MB UPI-509326...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
38,2025-04-19,UPI/SARVAGYA SHANTI/510920803662/MB UPI-510983...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
39,2025-05-03,NEFT HSBCN12340515843 SEARCE INDIA NEFTINW-120...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
40,2025-05-03,UPI/SARVAGYA SHANTI/512319023991/MB UPI-512342...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
41,2025-06-04,NEFT HSBCN15548423025 SEARCE INDIA NEFTINW-123...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
42,2025-06-16,UPI/SARVAGYA SHANTI/516709518993/MB UPI-516750...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
43,2025-06-25,UPI/SARVAGYA SHANTI/517610881540/MB UPI-517692...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
44,2025-06-30,Int.Pd:7150279379:01-04-2025 to 30-06-2025 167...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
45,2025-07-03,NEFT HSBCN18456039565 SEARCE INDIA NEFTINW-126...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
46,2025-07-04,UPI/SARVAGYA SHANTI/518522712528 UPI-518519335...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
47,2025-07-09,UPI/SARVAGYA SHANTI/519023479978 UPI-519047068...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
48,2025-08-01,UPI/SARVAGYA SHANTI/521309121277 UPI-521358192...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
49,2025-08-05,NEFT HSBCN21764724536 SEARCE INDIA NEFTINW-129...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
50,2025-08-06,UPI/SANDESH ANIL RA/521817159457 UPI-521887897...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
51,2025-08-07,UPI/SARVAGYA SHANTI/521911086321 UPI-521935423...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
52,2025-09-02,NEFT HSBCN24572367255 SEARCE INDIA NEFTINW-132...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
53,2025-09-04,UPI/SARVAGYA SHANTI/524716398217 UPI-524767094...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
54,2025-09-18,UPI/SARVAGYA SHANTI/526122079833 UPI-526134473...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
55,2025-09-30,Int.Pd:7150279379:01-07-2025 to 30-09-2025 61....,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
56,2025-10-03,NEFT HSBCN27681114818 SEARCE INDIA NEFTINW-135...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
57,2025-11-01,UPI/SARVAGYA SHANTI/530515582572 UPI-530592767...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
58,2025-11-04,NEFT HSBCN30890163078 SEARCE INDIA NEFTINW-138...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
59,2025-11-12,UPI/CIDCO LTD PKG F/531609054191/CIDCO UPI-531...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
60,2025-11-15,UPI/SARVAGYA SHANTI/531910050572 UPI-531965607...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
61,2025-11-19,UPI/SHANTIBHUSHAN R/532318596436 UPI-532369899...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
62,2025-11-24,UPI/SARVAGYA SHANTI/532812665279 UPI-532884174...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
63,2025-11-30,UPI/SARVAGYA SHANTI/533418612187 UPI-533421683...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
363,**This is a computer generated statement and d...,NaN,NaN,NaN,NaN,NaN,NaN,SBI_2025

In [70]:
df[df["Bank"]=="KOTAK_2025"]

,Date,Narration,Chq./Ref.No.,Value Dt,Withdrawal Amt.,Deposit Amt.,Closing Balance,Bank
36,2025-04-03,NEFT HSBCN09333045332 SEARCE INDIA NEFTINW-117...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
37,2025-04-03,UPI/SARVAGYA SHANTI/509310260382/MB UPI-509326...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
38,2025-04-19,UPI/SARVAGYA SHANTI/510920803662/MB UPI-510983...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
39,2025-05-03,NEFT HSBCN12340515843 SEARCE INDIA NEFTINW-120...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
40,2025-05-03,UPI/SARVAGYA SHANTI/512319023991/MB UPI-512342...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
41,2025-06-04,NEFT HSBCN15548423025 SEARCE INDIA NEFTINW-123...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
42,2025-06-16,UPI/SARVAGYA SHANTI/516709518993/MB UPI-516750...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
43,2025-06-25,UPI/SARVAGYA SHANTI/517610881540/MB UPI-517692...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
44,2025-06-30,Int.Pd:7150279379:01-04-2025 to 30-06-2025 167...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
45,2025-07-03,NEFT HSBCN18456039565 SEARCE INDIA NEFTINW-126...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
46,2025-07-04,UPI/SARVAGYA SHANTI/518522712528 UPI-518519335...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
47,2025-07-09,UPI/SARVAGYA SHANTI/519023479978 UPI-519047068...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
48,2025-08-01,UPI/SARVAGYA SHANTI/521309121277 UPI-521358192...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
49,2025-08-05,NEFT HSBCN21764724536 SEARCE INDIA NEFTINW-129...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
50,2025-08-06,UPI/SANDESH ANIL RA/521817159457 UPI-521887897...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
51,2025-08-07,UPI/SARVAGYA SHANTI/521911086321 UPI-521935423...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
52,2025-09-02,NEFT HSBCN24572367255 SEARCE INDIA NEFTINW-132...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
53,2025-09-04,UPI/SARVAGYA SHANTI/524716398217 UPI-524767094...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
54,2025-09-18,UPI/SARVAGYA SHANTI/526122079833 UPI-526134473...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
55,2025-09-30,Int.Pd:7150279379:01-07-2025 to 30-09-2025 61....,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
56,2025-10-03,NEFT HSBCN27681114818 SEARCE INDIA NEFTINW-135...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
57,2025-11-01,UPI/SARVAGYA SHANTI/530515582572 UPI-530592767...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
58,2025-11-04,NEFT HSBCN30890163078 SEARCE INDIA NEFTINW-138...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
59,2025-11-12,UPI/CIDCO LTD PKG F/531609054191/CIDCO UPI-531...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
60,2025-11-15,UPI/SARVAGYA SHANTI/531910050572 UPI-531965607...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
61,2025-11-19,UPI/SHANTIBHUSHAN R/532318596436 UPI-532369899...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
62,2025-11-24,UPI/SARVAGYA SHANTI/532812665279 UPI-532884174...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025
63,2025-11-30,UPI/SARVAGYA SHANTI/533418612187 UPI-533421683...,NaN,NaN,NaN,NaN,NaN,KOTAK_2025

In [71]:
df[df["Bank"]=="HDFC_2025"]

,Date,Narration,Chq./Ref.No.,Value Dt,Withdrawal Amt.,Deposit Amt.,Closing Balance,Bank
0,********,**********************************,************,********,NaN,NaN,NaN,HDFC_2025
1,2025-07-19,UPI-SARVAGYA SHANTIBHUSH-SARVAGYA1950@OKAXIS-S...,0000520029756040,2025-07-19,NaN,10000.00,10000.00,HDFC_2025
2,2025-08-06,ATW-223487XXXXXX9226-CHMAH030-MUMBAI,0000000000003783,2025-08-06,400.0,NaN,9600.00,HDFC_2025
3,2025-08-30,CHQ PAID-INWARD TRAN-HOUSING DEVELOPMENT,0000000000000002,2025-08-30,2960.0,NaN,6640.00,HDFC_2025
4,2025-09-17,UPI-SARVAGYA SHANTIBHUSH-SARVAGYA1950@OKHDFCBA...,0000095010310121,2025-09-17,1.0,NaN,6639.00,HDFC_2025
5,2025-09-17,UPI-SARVAGYA SHANTIBHUSH-SARVAGYA1950@OKSBI-SB...,0000526005334878,2025-09-17,NaN,5000.00,11639.00,HDFC_2025
6,2025-09-18,UPI-SARVAGYA SHANTIBHUSH-SARVAGYA1950@OKSBI-SB...,0000526199163969,2025-09-18,NaN,10000.00,21639.00,HDFC_2025
7,2025-09-18,UPI-PUSHPAK SHAHAJI KALE-8779087985@YBL-SBIN00...,0000220836145542,2025-09-18,3000.0,NaN,18639.00,HDFC_2025
8,2025-09-28,UPI-MAXFASHION-MAXFASHION.PAYU@AXISBANK-UTIB00...,0000002848832766,2025-09-28,869.0,NaN,17770.00,HDFC_2025
9,2025-09-28,UPI-NPCI BHIM-BHIMCASHBACK@HDFCBANK-HDFC000000...,0000101558257798,2025-09-28,NaN,2.00,17772.00,HDFC_2025
10,2025-09-28,UPI-MYNTRA DESIGNS PRIVA-PINELABS.10384468@HDF...,0000020352044537,2025-09-28,1078.0,NaN,16694.00,HDFC_2025
11,2025-09-28,UPI-NPCI BHIM-BHIMCASHBACK@HDFCBANK-HDFC000000...,0000101558439445,2025-09-28,NaN,2.00,16696.00,HDFC_2025
12,2025-09-28,UPI-AJIO COM-AJIO1.PAYU@HDFCBANK-HDFC0MERUPI-0...,0000022220944148,2025-09-28,1452.0,NaN,15244.00,HDFC_2025
13,2025-09-29,UPI-MYNTRA DESIGNS PRIVA-PINELABS.10384468@HDF...,0000101565494536,2025-09-29,NaN,610.04,15854.04,HDFC_2025
14,2025-09-29,UPI-SHREYASH SHANTIBHUSH-SATYBHAI0004@OKSBI-SB...,0000114824338506,2025-09-29,479.0,NaN,15375.04,HDFC_2025
15,2025-09-29,UPI-NPCI BHIM-BHIMCASHBACK@HDFCBANK-HDFC000000...,0000101567682366,2025-09-29,NaN,2.00,15377.04,HDFC_2025
16,2025-09-29,UPI-SHREYASH SHANTIBHUSH-SATYBHAI0004@OKSBI-SB...,0000114918869545,2025-09-29,850.0,NaN,14527.04,HDFC_2025
17,2025-10-01,INTEREST PAID TILL 30-SEP-2025,000000000000000,2025-09-30,NaN,53.00,14580.04,HDFC_2025
18,2025-10-02,UPI-MAXFASHION-MAXFASHION.PAYU@AXISBANK-UTIB00...,0000293708462755,2025-10-02,NaN,849.00,15429.04,HDFC_2025
19,2025-10-03,UPI-AJIO COM-AJIO1.PAYU@HDFCBANK-HDFC0000001-1...,0000101617619321,2025-10-03,NaN,695.00,16124.04,HDFC_2025
20,2025-10-05,ACH D- HDFC BANK LTD-436023672,0000008277087278,2025-10-05,8421.0,NaN,7703.04,HDFC_2025
21,2025-10-21,UPI-LENSKART SOLUTIONS P-LENSKART.PAYU@HDFCBAN...,0000101764177176,2025-10-22,2699.0,NaN,5004.04,HDFC_2025
22,2025-10-21,UPI-NPCI BHIM-BHIMCASHBACK@HDFCBANK-HDFC000000...,0000101764183595,2025-10-22,NaN,3.00,5007.04,HDFC_2025
23,2025-10-24,UPI-ZOMATO LIMITED-ZOMATOFD.PAYU@HDFCBANK-HDFC...,0000183751278972,2025-10-24,366.5,NaN,4640.54,HDFC_2025
24,2025-10-24,UPI-NPCI BHIM-BHIMCASHBACK@HDFCBANK-HDFC000000...,0000101783796767,2025-10-24,NaN,3.00,4643.54,HDFC_2025
25,2025-11-01,UPI-FLIPKART-FLIPKART.HYPG@YESPAY-YESB0YESUPI-...,0000150048143840,2025-11-01,563.0,NaN,4080.54,HDFC_2025
26,2025-11-01,UPI-NPCI BHIM-BHIMCASHBACK@HDFCBANK-HDFC000000...,0000101841199281,2025-11-01,NaN,3.00,4083.54,HDFC_2025
27,2025-11-01,UPI-SARVAGYA SHANTIBHUSH-SARVAGYA.SINGH72@KOTA...,0000530515582572,2025-11-01,NaN,20000.00,24083.54,HDFC_2025
28,2025-11-02,UPI-SARVAGYA SHANTIBHUSH-SARVAGYA1950@OKHDFCBA...,0000224005852405,2025-11-02,10.0,NaN,24073.54,HDFC_2025
29,2025-11-03,NEFT CR-CITI0100000-PAYPAL PAYMENTS PL INR FBO...,CITIN52025110349635384,2025-11-03,NaN,1.02,24074.56,HDFC_2025
30,2025-11-03,NEFT CR-CITI0100000-PAYPAL PAYMENTS PL INR FBO...,CITIN52025110349634795,2025-11-03,NaN,1.01,24075.57,HDFC_2025
31,2025-11-05,ACH D- HDFC BANK LTD-439247680,0000008428638309,2025-11-05,11746.0,NaN,12329.57,HDFC_2025
32,2025-11-06,UPI-GOOGLE INDIA DIGITAL-GOOGLECLOUD@AXISBANK-...,0000104527540589,2025-11-06,1000.0,NaN,11329.57,HDFC_2025
33,2025-11-13,UPI-RUSHI JAYANT KANTOD-RUSHIKAN590@OKAXIS-SB...,0000203713056932,2025-11-13,430.0,NaN,10899.57,HDFC_2025
34,2025-11-16,UPI-AMAZON INDIA-AMAZONUPI@APL-UTIB0000100-211...,0000211913810343,2025-11-16,1083.0,NaN,9816.57,HDFC_2025
35,2025-11-19,UPI-SARVAGYA SHANTIBHUSH-SARVAGYA1950@OKHDFCBA...,0000122446426169,2025-11-19,1000.0,NaN,8816.57,HDFC_2025

In [72]:
df[df["Bank"]=="SBI_2025"]

,Date,Narration,Chq./Ref.No.,Value Dt,Withdrawal Amt.,Deposit Amt.,Closing Balance,Bank
64,2025-01-01,TO TRANSFER-UPI/DR/536719257421/ShareMar/YE...,TRANSFER TO 4897693162093,2025-01-01,6000.0,NaN,2119.57,SBI_2025
65,2025-01-02,BY TRANSFER-NEFT*UTIB0001506*AXISCN08746130...,TRANSFER FROM 4697201044308,2025-01-02,NaN,6000.0,8119.57,SBI_2025
66,2025-01-03,TO TRANSFER-UPI/DR/536903715075/SHREE MA/YE...,TRANSFER TO 4897695162091,2025-01-03,35.0,NaN,8084.57,SBI_2025
67,2025-01-08,TO TRANSFER-UPI/DR/500822055974/UDAY NAN/YE...,TRANSFER TO 4897693162093,2025-01-08,64.0,NaN,8020.57,SBI_2025
68,2025-01-09,BY TRANSFER-UPI/CR/500908130786/SARVAGYA/KK...,TRANSFER FROM 4897736162097,2025-01-09,NaN,2000.0,10020.57,SBI_2025
...,...,...,...,...,...,...,...,...
359,2025-08-13,TO TRANSFER-UPI/DR/559160561877/DMART AV/HD...,TRANSFER TO 4897693162093,2025-08-13,699.0,NaN,2286.11,SBI_2025
360,2025-08-13,TO TRANSFER-UPI/DR/559189378983/HDFC Sec/AI...,TRANSFER TO 4897693162093,2025-08-13,20.0,NaN,2266.11,SBI_2025
361,2025-08-13,TO TRANSFER-UPI/DR/522592318051/MANISHA /YE...,TRANSFER TO 4897693162093,2025-08-13,35.0,NaN,2231.11,SBI_2025
362,2025-08-14,TO TRANSFER-UPI/DR/559270356054/MITRA DA/YE...,TRANSFER TO 4897694162092,2025-08-14,100.0,NaN,2131.11,SBI_2025
363,**This is a computer generated statement and d...,NaN,NaN,NaN,NaN,NaN,NaN,SBI_2025

In [73]:
df["Date"] = pd.to_datetime(df["Date"], errors="coerce", dayfirst=True).dt.date

C:\Users\sarva\AppData\Local\Temp\ipykernel_7332\180473959.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Date"] = pd.to_datetime(df["Date"], errors="coerce", dayfirst=True).dt.date

In [74]:
df.head()

,Date,Narration,Chq./Ref.No.,Value Dt,Withdrawal Amt.,Deposit Amt.,Closing Balance,Bank
0,NaT,**********************************,************,********,NaN,NaN,NaN,HDFC_2025
1,2025-07-19,UPI-SARVAGYA SHANTIBHUSH-SARVAGYA1950@OKAXIS-S...,0000520029756040,2025-07-19,NaN,10000.0,10000.0,HDFC_2025
2,2025-08-06,ATW-223487XXXXXX9226-CHMAH030-MUMBAI,0000000000003783,2025-08-06,400.0,NaN,9600.0,HDFC_2025
3,2025-08-30,CHQ PAID-INWARD TRAN-HOUSING DEVELOPMENT,0000000000000002,2025-08-30,2960.0,NaN,6640.0,HDFC_2025
4,2025-09-17,UPI-SARVAGYA SHANTIBHUSH-SARVAGYA1950@OKHDFCBA...,0000095010310121,2025-09-17,1.0,NaN,6639.0,HDFC_2025

In [75]:
df.describe()

       Withdrawal Amt.  Deposit Amt.  Closing Balance
count       247.000000     87.000000       334.000000
mean       4195.927895  11945.083908     37821.505659
std       31591.018962  21702.828468     61156.465594
min           1.000000      1.000000        39.390000
25%          32.000000    110.000000      5185.970000
50%         110.000000   1440.000000     31335.220000
75%         799.950000  10000.000000     41688.420000
max      477257.800000  95000.000000    478663.730000

In [76]:
df.Date.describe()

count            362
unique           174
top       2025-08-06
freq               8
Name: Date, dtype: object

In [77]:
df.head()

,Date,Narration,Chq./Ref.No.,Value Dt,Withdrawal Amt.,Deposit Amt.,Closing Balance,Bank
0,NaT,**********************************,************,********,NaN,NaN,NaN,HDFC_2025
1,2025-07-19,UPI-SARVAGYA SHANTIBHUSH-SARVAGYA1950@OKAXIS-S...,0000520029756040,2025-07-19,NaN,10000.0,10000.0,HDFC_2025
2,2025-08-06,ATW-223487XXXXXX9226-CHMAH030-MUMBAI,0000000000003783,2025-08-06,400.0,NaN,9600.0,HDFC_2025
3,2025-08-30,CHQ PAID-INWARD TRAN-HOUSING DEVELOPMENT,0000000000000002,2025-08-30,2960.0,NaN,6640.0,HDFC_2025
4,2025-09-17,UPI-SARVAGYA SHANTIBHUSH-SARVAGYA1950@OKHDFCBA...,0000095010310121,2025-09-17,1.0,NaN,6639.0,HDFC_2025

In [78]:
df = df.where(df.Date.notna())
df.head()

,Date,Narration,Chq./Ref.No.,Value Dt,Withdrawal Amt.,Deposit Amt.,Closing Balance,Bank
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-07-19,UPI-SARVAGYA SHANTIBHUSH-SARVAGYA1950@OKAXIS-S...,0000520029756040,2025-07-19,NaN,10000.0,10000.0,HDFC_2025
2,2025-08-06,ATW-223487XXXXXX9226-CHMAH030-MUMBAI,0000000000003783,2025-08-06,400.0,NaN,9600.0,HDFC_2025
3,2025-08-30,CHQ PAID-INWARD TRAN-HOUSING DEVELOPMENT,0000000000000002,2025-08-30,2960.0,NaN,6640.0,HDFC_2025
4,2025-09-17,UPI-SARVAGYA SHANTIBHUSH-SARVAGYA1950@OKHDFCBA...,0000095010310121,2025-09-17,1.0,NaN,6639.0,HDFC_2025

In [79]:
df[df.Date.notna()]

,Date,Narration,Chq./Ref.No.,Value Dt,Withdrawal Amt.,Deposit Amt.,Closing Balance,Bank
1,2025-07-19,UPI-SARVAGYA SHANTIBHUSH-SARVAGYA1950@OKAXIS-S...,0000520029756040,2025-07-19,NaN,10000.0,10000.00,HDFC_2025
2,2025-08-06,ATW-223487XXXXXX9226-CHMAH030-MUMBAI,0000000000003783,2025-08-06,400.0,NaN,9600.00,HDFC_2025
3,2025-08-30,CHQ PAID-INWARD TRAN-HOUSING DEVELOPMENT,0000000000000002,2025-08-30,2960.0,NaN,6640.00,HDFC_2025
4,2025-09-17,UPI-SARVAGYA SHANTIBHUSH-SARVAGYA1950@OKHDFCBA...,0000095010310121,2025-09-17,1.0,NaN,6639.00,HDFC_2025
5,2025-09-17,UPI-SARVAGYA SHANTIBHUSH-SARVAGYA1950@OKSBI-SB...,0000526005334878,2025-09-17,NaN,5000.0,11639.00,HDFC_2025
...,...,...,...,...,...,...,...,...
358,2025-08-13,TO TRANSFER-UPI/DR/522537107684/DMART AV/HD...,TRANSFER TO 4897693162093,2025-08-13,135.0,NaN,2985.11,SBI_2025
359,2025-08-13,TO TRANSFER-UPI/DR/559160561877/DMART AV/HD...,TRANSFER TO 4897693162093,2025-08-13,699.0,NaN,2286.11,SBI_2025
360,2025-08-13,TO TRANSFER-UPI/DR/559189378983/HDFC Sec/AI...,TRANSFER TO 4897693162093,2025-08-13,20.0,NaN,2266.11,SBI_2025
361,2025-08-13,TO TRANSFER-UPI/DR/522592318051/MANISHA /YE...,TRANSFER TO 4897693162093,2025-08-13,35.0,NaN,2231.11,SBI_2025
362,2025-08-14,TO TRANSFER-UPI/DR/559270356054/MITRA DA/YE...,TRANSFER TO 4897694162092,2025-08-14,100.0,NaN,2131.11,SBI_2025

In [80]:
transfer_keywords = [
    "transfer",
    "self",
    "upi to",
    "imps to",
    "neft to",
    "to own account",
    "internal",
]

df["is_transfer"] = df["Narration"].str.lower().str.contains('|'.join(transfer_keywords))

In [81]:
df["is_internal"] = df["is_transfer"]

In [82]:
cc_keywords = ["credit card", "cc payment", "card payment"]
df["is_cc_payment"] = df["Narration"].str.lower().str.contains("|".join(cc_keywords))

In [83]:
wallet_keywords = ["paytm add", "gpay add", "wallet add", "mutual fund", "sip", "zerodha"]
df["is_wallet_or_invest"] = df["Narration"].str.lower().str.contains("|".join(wallet_keywords))

In [91]:
import datetime
import pandas as pd

today = datetime.date.today()
first_day_this_month = today.replace(day=1)
last_month_end = first_day_this_month - datetime.timedelta(days=1)
last_month_start = last_month_end.replace(day=1)

start = pd.Timestamp(last_month_start).date()
end = pd.Timestamp(last_month_end).date()

mask = (df["Date"] >= start) & (df["Date"] <= end)

last_month_df = df[mask]
print(last_month_df)

          Date                                          Narration  \
25  2025-11-01  UPI-FLIPKART-FLIPKART.HYPG@YESPAY-YESB0YESUPI-...
26  2025-11-01  UPI-NPCI BHIM-BHIMCASHBACK@HDFCBANK-HDFC000000...
27  2025-11-01  UPI-SARVAGYA SHANTIBHUSH-SARVAGYA.SINGH72@KOTA...
28  2025-11-02  UPI-SARVAGYA SHANTIBHUSH-SARVAGYA1950@OKHDFCBA...
29  2025-11-03  NEFT CR-CITI0100000-PAYPAL PAYMENTS PL INR FBO...
30  2025-11-03  NEFT CR-CITI0100000-PAYPAL PAYMENTS PL INR FBO...
31  2025-11-05                     ACH D- HDFC BANK LTD-439247680
32  2025-11-06  UPI-GOOGLE INDIA DIGITAL-GOOGLECLOUD@AXISBANK-...
33  2025-11-13  UPI-RUSHI JAYANT  KANTOD-RUSHIKAN590@OKAXIS-SB...
34  2025-11-16  UPI-AMAZON INDIA-AMAZONUPI@APL-UTIB0000100-211...
35  2025-11-19  UPI-SARVAGYA SHANTIBHUSH-SARVAGYA1950@OKHDFCBA...
57  2025-11-01  UPI/SARVAGYA SHANTI/530515582572 UPI-530592767...
58  2025-11-04  NEFT HSBCN30890163078 SEARCE INDIA NEFTINW-138...
59  2025-11-12  UPI/CIDCO LTD PKG F/531609054191/CIDCO UPI-531...
60  2025-11-15  UPI/SARVAGYA SHANTI/531910050572 UPI-531965607...
61  2025-11-19  UPI/SHANTIBHUSHAN R/532318596436 UPI-532369899...
62  2025-11-24  UPI/SARVAGYA SHANTI/532812665279 UPI-532884174...
63  2025-11-30  UPI/SARVAGYA SHANTI/533418612187 UPI-533421683...

              Chq./Ref.No.    Value Dt  Withdrawal Amt.  Deposit Amt.  \
25        0000150048143840  2025-11-01            563.0           NaN
26        0000101841199281  2025-11-01              NaN          3.00
27        0000530515582572  2025-11-01              NaN      20000.00
28        0000224005852405  2025-11-02             10.0           NaN
29  CITIN52025110349635384  2025-11-03              NaN          1.02
30  CITIN52025110349634795  2025-11-03              NaN          1.01
31        0000008428638309  2025-11-05          11746.0           NaN
32        0000104527540589  2025-11-06           1000.0           NaN
33        0000203713056932  2025-11-13            430.0           NaN
34        0000211913810343  2025-11-16           1083.0           NaN
35        0000122446426169  2025-11-19           1000.0           NaN
57                     NaN         NaN              NaN           NaN
58                     NaN         NaN              NaN           NaN
59                     NaN         NaN              NaN           NaN
60                     NaN         NaN              NaN           NaN
61                     NaN         NaN              NaN           NaN
62                     NaN         NaN              NaN           NaN
63                     NaN         NaN              NaN           NaN

    Closing Balance        Bank is_transfer is_internal is_cc_payment  \
25          4080.54   HDFC_2025       False       False         False
26          4083.54   HDFC_2025       False       False         False
27         24083.54   HDFC_2025       False       False         False
28         24073.54   HDFC_2025       False       False         False
29         24074.56   HDFC_2025       False       False         False
30         24075.57   HDFC_2025       False       False         False
31         12329.57   HDFC_2025       False       False         False
32         11329.57   HDFC_2025       False       False         False
33         10899.57   HDFC_2025       False       False         False
34          9816.57   HDFC_2025       False       False         False
35          8816.57   HDFC_2025       False       False         False
57              NaN  KOTAK_2025       False       False         False
58              NaN  KOTAK_2025       False       False         False
59              NaN  KOTAK_2025       False       False         False
60              NaN  KOTAK_2025       False       False         False
61              NaN  KOTAK_2025       False       False         False
62              NaN  KOTAK_2025       False       False         False
63              NaN  KOTAK_2025       False       False         False

   is_wallet_or_invest
25               False
26               False
27               False
28               False
29               False
30               False
31               False
32               False
33               False
34               False
35               False
57               False
58               False
59               False
60               False
61               False
62               False
63               False

In [92]:
df["actual_spend"] = df["Withdrawal Amt."].where(df["Withdrawal Amt."] > 0)
total_spent_last_month = last_month_df["actual_spend"].sum()
total_spent_last_month

KeyError: 'actual_spend'